
html {
    --sky-dark: null;
    --sky-bright: null;
    --font-color: null;
    background-color: var(--sky-dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    image-rendering: crisp-edges;
    color: var(--font-color);
    font-size: 22px;
}


header {
    background-color: var(--sky-dark);
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.lang {
    height: 8vh;
    padding-right: 10px;
}

.nav-link {
    font-size: 24px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}


.nav-icon {
    height: 64px;
}

.dark-mode-toggle {
    background-image: url("img/dark_mode.png");
    border: none;
    background-color: transparent;
    width: 120px;
    height: 60px;
    margin-right: 100px;
    cursor: pointer;
}

.sky {
    background-image: linear-gradient(var(--sky-dark), var(--sky-bright));
    height: 40vh;
    width: 100%;
    overflow: hidden;
}


.name {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 56px;
    color: white;
    text-shadow: 3px 3px 0 var(--sky-dark);
    padding-left: 10vw;
}

.content-bright {
    background-color: var(--sky-bright);
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5vh;
}

.content-dark {
    background-color: var(--sky-dark);
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: right;
    padding-right: 5vh;
}

.text-title {
    font-size: 32px;
    line-height: 64px;
}

.text-block {
    line-height: 28px;
    text-align: justify;
    padding-left: 5vw;
    width: 70vw;
}

a {
    text-decoration: none;
}

.content-img {
    height: 256px;
    width: 256px;
}

.bright-dark-transition {
    background-image: linear-gradient(var(--sky-bright), var(--sky-dark));
    height: 5vh;
}

.dark-bright-transition {
    background-image: linear-gradient(var(--sky-dark), var(--sky-bright));
    height: 5vh;
}





/* ------------------ ANIMATION ------------------ */


.star1 {
    animation: 3s linear 1s infinite alternate twinkle;
}

.star2 {
    animation: 4s linear 0s infinite alternate twinkle;
}

.star3 {
    animation: 3.5s linear 0.5s infinite alternate twinkle;
}

.star4 {
  animation: 1.25s linear 1.5s infinite alternate twinkle;
}

.star5 {
  animation: 4s linear 2s infinite alternate twinkle;
}

.star6 {
  animation: 2.5s linear 1s infinite alternate twinkle;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}